/* --мои стили -- my style-- */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color: #fa1818;
	border-color: #fa1818;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .pagination > li > a, .pagination > li > span{
	color: #fa1818;
}

img{
	max-width: 100%;
	height: auto;
}
.snipcart-thumb img{
	max-height: 140px;
}

.product_list_header button.button {
	color: #fff;
	font-size: 14px;
	outline: none;
	text-transform: capitalize;
	padding: .5em 2.5em .5em 1em;
	border: 1px solid #84c639;
	margin: .35em 0 0;
	background: url(../images/cart.png) no-repeat 116px 9px;
	width: 144px;
}
.snipcart-details a.button {
	font-size: 14px;
	color: #fff;
	background: #FA1818;
	text-decoration: none;
	position: relative;
	border: none;
	border-radius: 0;
	width: 100%;
	display: block;
	text-transform: uppercase;
	padding: .5em 0;
	outline: none;
}
.agile_top_brand_left_grid:hover .snipcart-details a.button, .snipcart-details a.button:hover {
	background: #84C639;
}

.product_list_header button.close span{
	color: #000;
	top: 0;
}
.product_list_header span.del-item{
	color: #FA1818;
	top: 0;
}
#modal-cart img{
	max-height: 40px;
}


/* --End my style-- */